@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
@layer components {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }
  .layout {
    grid-template-areas:
      "header"
      "main"
      "footer";
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 72px 1fr 539px;
  }

  .mobile-nav {
    transform: translateY(-340px);
    position: fixed;
    inset: 71px 0 0 0;
    transition: transform 500ms ease-in-out 200ms;
  }

  .mobile-nav[data-visible="true"] {
    transform: translateY(0px);
    /* transition: transform 0.5s ease-in-out; */
  }

  .banner {
    grid-template-rows: 18.375rem 26.1875rem;
  }
  .line {
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
  }

  .services--box {
    grid-template-rows: 16.9375rem 26.1875rem;
  }

  .story--block-overlay {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    );
  }

  @media (48em <= width) {
    .layout {
      grid-template-rows: 72px 1fr 284px;
    }

    .mobile-nav {
      transform: translateY(0px);
    }
    .banner {
      grid-template-columns: 1fr 17.0625rem;
      grid-template-rows: 650px;
    }
    .services--box {
      grid-template-columns: 17.0625rem 1fr;
      grid-template-rows: 600px;
    }

    .services--box-even {
      grid-template-rows: 600px;
      grid-template-columns: 1fr 17.0625rem;
    }

    .story {
      grid-template-rows: 31.25rem 31.25rem;
    }
  }

  @media (64rem <= width) {
    .layout {
      grid-template-rows: 72px 1fr 250px;
    }

    .banner {
      grid-template-columns: 38.125rem 1fr;
    }

    .services--box {
      grid-template-columns: 1fr 38.125rem;
    }

    .services--box-even {
      grid-template-columns: 38.125rem 1fr;
    }
    .story {
      grid-template-rows: 31.25rem;
    }

    .story--block:hover {
      border-bottom: 4px solid transparent;
      border-image: linear-gradient(
        26.57deg,
        #ffc593 0%,
        #bc7198 43.29%,
        #5a77ff 83.33%
      );
      border-image-slice: 1;
      transform: translateY(-25px);
      transition: transform 500ms ease-in-out;
    }

    .features {
      grid-template-columns: 21.875rem 21.875rem 21.875rem;
    }
  }
}
